<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col.sm.12 col.md.5 col.lg.5 parte1">
        <h1>Encriptador</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit labore, magnam quos aperiam facere fugiat est ipsam natus maxime ratione earum eaque dolores cupiditate omnis doloremque, qui sit perspiciatis! Ad.
        </p>
    </div>
    <div class="col.sm.12 col.md.5 col.lg.4 parte2">
        <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">
    </div>
</div>