<div class="row">
    <h1>Experiencia laboral</h1>
    <!-- SKILL HTML -->
    <circle-progress id="s-html" 
        [imageSrc]="'https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/512px-CSS3_logo.svg.png'"
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress id="s-css" 
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
