<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!-- SKILL HTML -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-html" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/HTML5_Badge.png'"
        [imageHeight]="110"
        [imageWidth]="110"
    ></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-css" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/CSS3_logo.png'"
        [imageHeight]="110"
        [imageWidth]="78"
    ></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-js" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/js_logo.png'"
        [imageHeight]="130"
        [imageWidth]="90"
    ></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-github" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/github_logo.png'"
        [imageHeight]="120"
        [imageWidth]="120"
    ></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-ingles" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/english_logo.png'"
        [imageHeight]="130"
        [imageWidth]="130"
    ></circle-progress>
    <!-- SKILL CSS -->
    <circle-progress class="text-center col-sm-6 col-md-4 col-lg-4" id="s-socials" 
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'#460c6d'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#3e0d7e'"
        [innerStrokeColor]="'#893aca'"
        [animation]="true"
        [animationDuration]="600"
        [showImage]="true"
        [imageSrc]="'../../assets/teamwork_logo.png'"
        [imageHeight]="110"
        [imageWidth]="110"
    ></circle-progress>
</div>
