<div class="row">
    <div>
        <img src="../../../assets/J desing.jpg" class="img-fluid">
    </div>
    <div>
        <p>Torletti Axel Joaquin</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iure temporibus tenetur aliquam soluta vel quibusdam hic laboriosam corporis repudiandae ratione architecto ipsum at, illum, ex consequatur numquam similique odit!</p>
        </span>
    </div>
</div>