<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/J desing.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="FirstName">Torletti</p>
        <p id="SecondName">Axel Joaquin</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iure temporibus tenetur aliquam soluta vel quibusdam hic laboriosam corporis repudiandae ratione architecto ipsum at, illum, ex consequatur numquam similique odit!</p>
        </span>
    </div>
</div>